<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Identity Network Graph</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
    <div id="graph-container"></div>
    <script>
        const graphData = <%= @graph_data %>;
    </script>
    <script src="/js/graph_interaction.js"></script>
</body>
</html>
